* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  background-color: #fffbf7;
}

li {
  list-style: none;
  padding: 0 0.8rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  width: 100%;
  padding: 0.8rem 1.6rem;
  background-color: #fffbf7;
}

.navbar__link-list {
  display: flex;
  color: #025157;
}

.navbar__signin-container {
  height: 100%;
}

.navbar__signin-container a,
button {
  margin: 0 1rem;
  text-align: right;
}

.navbar__signin-container a {
  color: #67b54b;
  font-size: 1.4rem;
  font-weight: 600;
}

.navbar__signin-container button {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  padding: 1.2rem 1.4rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  color: white;
  background-color: #67b54b;
}

.main {
  margin-block-start: 285px;
  text-align: center;
}

.main__title {
  color: #025157;
  font-family: "Alegreya", serif;
  font-size: 6rem;
  font-weight: 900;
  margin-block-end: 2.4rem;
}

.main__subtitle {
  color: #46484c;
  font-family: "Slabo 27px", serif;
  font-size: 2rem;
  margin-block-end: 3rem;
  font-weight: 500;
}

.main__form {
  height: 5.5rem;
}

.form__input {
  border: 1px solid #b6b6b6;
  padding: 6px 20px;
  width: 60%;
  max-width: 250px;
  border-radius: 8px 0 0 8px;
}

.form__input::placeholder {
  font-size: 1.6rem;
}

.form__input,
.form__button {
  height: 100%;
}

.form__button {
  border: none;
  outline: none;
  margin: -1rem;
  padding: 0.6rem 2rem;
  background-color: #025157;
  color: #fff;
  border-radius: 0 8px 8px 0;
}

.main__promotional-text {
  font-size: 1.6rem;
  color: #8b8b8bcc;
  margin-block-start: 15px;
}

.main__banner {
  margin-block-start: 3rem;
  margin-block-end: 1.6rem;
}

.banner__image--large {
  width: 70%;
}
